/* Footer.css */
.footer-container {
    background-color: #001f3f;
    padding: 5px;
    text-align: center;

    p, a {
        color: rgb(235, 235, 235);
    }
}

.company-info,
.contact-info,
.mission-statement,
.social-icons,
.policies,
.university-notice {
    margin: 10px 0;
}

.contact-info p,
.mission-statement p,
.policies p,
.university-notice p {
    margin: 5px 0;
}

.icon {
    font-size: 20px;
    margin: 0 5px;
}

.policies p {
    font-size: 0.9em;
    color: #bbb;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer p {
    font-size: 0.9em;
}

.footer-links {
    margin-top: 5px;
}

.footer-links .separator {
    color: #fff; /* Make the separator white */
    margin: 0 12px; /* Equal spacing between the separator and links */
    font-weight: bold;
}
