
/* Header */

.header {
    padding: 10px 20px;
    align-items: center;
    display: flex;
    background-color: #001f3f;
    justify-content: space-between;
    box-shadow: 0px 2px 5px #00000077;
    z-index: 100;
}

.header-logo {
    height: 60px;
}

.search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.search-bar {
    width: 500px;
    background-color: white;
    border-radius: 5px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-profile {
    width: 40px;
}