.listing-page-container {
    display: flex;
    flex-direction: column;
}

.back-to-listings {
    font-size: large !important;
    color: grey !important;
    gap: 10px;
    float: left;
    border-radius: 10px !important;
    margin: 10px !important;
}

.listing-container {
    display: flex;
    flex-direction: row;
}

.listing-image {
    width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 20px;
}

.listing-details {
    flex-grow: 1;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listing-title {
    font-size: 30px;
    font-weight: 600;
}

.listing-price {
    font-size: 30px;
    font-weight: 600;
}

p {
    margin: 0;
    color: grey;
}

.listing-description {
    font-size: large;
}

hr {
    border: 0.5px solid rgb(190, 190, 190);
    width: 100%;
}

.listing-categories {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 15px;
    padding-top: 10px;
}

.listing-category {
    background-color: #007FA3;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.seller-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.seller-info:hover {
    cursor: pointer;
}

.text-input {
    width: 100%;
    display: flex;

    input {
        width: calc(100% - 40px);
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
    }

    button {
        width: 30px;
        border: none;
        background-color: transparent;

        svg {
            height: 100%;
        }

        &:hover {
            cursor: pointer;
        }
    }
}