.products-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

/* Filters */

.filters {
    background-color: blue;
    width: 20%;
    min-width: 200px;
}

/* Products */

.products {
    flex-grow: 1;
    overflow-y: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    padding: 30px;
  }
  
  .product-item {
    background-color: greenyellow;
    padding: 15px;
    text-align: center;
  }


