.products-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: -webkit-fill-available;
}

/* Filters */

.filters {
    background-color: #dbdbdb;
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

/* Products */

.product-grid {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    padding: 10px 30px 0 45px;
}

.sort-by {
    width: 150px;
    margin: 20px !important;
    margin-left: auto !important;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    padding: 0px 30px 30px 30px;
}

.product-item {
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.product-item:hover {
    cursor: pointer;
}

.product-image {
    display: block;
    background-color: grey;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product-text {
    padding: 5px;
    gap: 5px;
}

.product-price {
    font-size: larger;
    font-weight: 600;
}

.product-title {
    padding-top: 3px;
}

.product-location {
    font-size: small;
    color: grey;
    padding-top: 5px;
}
