.align-left {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    text-align: left;
    flex-grow: 1;
}

.padding-top {
    padding-top: 20px; /* Adjust the value as needed */
}

.submit-button {
    padding-bottom: 30px;
}

.form-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 80%;
    min-width: 700px;
    align-items: stretch;
    align-self: center;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.create-listing-image-container {
    display: flex;
    flex-direction: column;
}

.create-listing-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 0 40px 20px 0;
    height: 350px;
}