.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-scroll-container {
  height: 100vh;
}

@media (max-width: 768px) {
  .App-scroll-container {
    overflow-x: auto;
    min-width: 768px;
  }
}

 /* Adjustment for Sticky Footer Layout  to ensure Footer stays at bottom of the page */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Make the main content area flexible */
.App-scroll-container {
  flex: 1;
  overflow-y: auto;
}
